.about {
  margin: 5%;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
}

.about img {
  height: 645px;
  width: 35%;
}

.aboutdesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 5%;
  line-height: 40px;
}
